.App {
  text-align: center;
  background-color: #CAEAE6;
  min-height: 100vh;
}


.App-header {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  width: 20%;
}
